.body {
  background-color: #fbfbfe;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 60px;
  margin: 5px 50px;
  border-radius: 50px;
}

li {
  margin: 15px 5px;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-info {
  margin: 30px;
  justify-content: center;
  max-width: 300px;
  font-family: 'Segoe UI';
}
.hero-image {
  height: 300px;
  width: 500px;
  margin: 30px;
}
@media only screen and (max-width: 700px) {
  .hero-info {
    max-width: 700px;
  }
  .hero-image {
    visibility: hidden;
    height: 0px;
  }
}

#name {
  color: rgb(0, 0, 0);
  font-size: 35px;
}
.styled-break {
  width: auto;
  height: 5px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  margin: 30px 0 30px 0;
}

.button {
  border: 0;
  padding: 10px 20px;
  font-size: 20px;
  background-color: black;
  width: 80px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  text-align: center;
}
.button:hover {
  background-color: #e31010;
}
.button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}

section {
  border-top: #000000;
  width: 100%;
  background-image: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}

.icon-section {
  width: 100%;
  background-image: linear-gradient(rgb(255, 255, 255));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}

.about-me {
  width: 300px;
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
}

.info {
  max-width: 500px;
  margin: 50px;
  border-top: 3px solid black;
}
.fa {
  margin: 30px;
  font-size: 30px;
}
#main {
  box-shadow: 5px 5px 5px grey;
}

.person-img {
  width: 100px;
  border-radius: 50px;
}

.test {
  width: 30px;
  height: 30px;
  background-color: red;
  margin: 5px;
}

.form-section {
  border-top-style: solid black 5px;
}

form {
  margin: 0 0 40px 0;
}

.input-section {
  margin: 10px 0;
  display: flex;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 0;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  footer {
    background-color: black;
  }
}

.list {
  list-style-type: none;
  line-height: 50px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}

.hamburger {
  background-color: transparent;
  border:solid;
  border-bottom: 5px solid black;
}
.hamburger:focus {
  outline: none;
}
.nav-bar {
  display: flex;
  height: 40px;
}
.nav-bar.show {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-family: Verdana;
  margin-top:2px;
}

li{
  background-color: white;
  padding: 2px 30px;
  border-radius: 10px;
}

@media only screen and (min-width: 800px) {
  .hamburger {
    display: none;
  }
  .nav-bar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 50px;
  }

  .nav-bar li{
    margin: 15px 5px;
    background-color: transparent;
  }
}

ul{
  border-style:none;
  border-bottom-style:solid ;
  width: 100%;
  border-color:black;
  border-width: 3px;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}